<!-- Cart Container -->
 
<app-header></app-header>

<div class="cart-box">
    <div class="cart-header">
        <h2>My Cart</h2>
    </div>
    <div class="cart-items">
        <div *ngFor="let item of data" class="cart-item">
            <img [src]="item.book.bookLogo" alt="{{ item.book.bookName }}" class="cart-item-image">
            <div class="cart-item-details">
                <h3>{{item. book?.bookName }}</h3>
                <p>{{ item.book.authorName }}</p>
                <p>Rs.{{ item.totalPrice }}</p>
                <div class="item-controls">
                    <button (click)="decrease(item)">-</button>
                    <span>{{ item.quantity }}</span>
                    <button (click)="increase(item)">+</button>
                    <button (click)="removeItem(item.cartId)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-footer">
        <button class="checkout-button">Place Order</button>
    </div>
</div>

<div class="user-details-box">
    <div class="customer-text-style"><b>Customer Details</b></div>
   
    <form class="example-form">
      <div class="form-row">
        <label for="name">Name</label>
        <input type="text" id="name" class="example-full-width">
    
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" class="example-full-width">
      </div>
    
      <div class="form-row">
        <label for="pincode">Pincode</label>
        <input type="text" id="pincode" class="example-full-width">
    
        <label for="locality">Locality</label>
        <input type="text" id="locality" class="example-full-width">
      </div>
    
      <div class="address-field">
        <label for="address">Address</label>
        <textarea id="address" class="example-full-width"></textarea>
      </div>
    
      <div class="form-row">
        <label for="cityTown">City/Town</label>
        <input type="text" id="cityTown" class="example-full-width">
    
        <label for="landmark">LandMark</label>
        <input type="text" id="landmark" class="example-full-width">
      </div>
    </form>
</div>

<div class="order-summary-box">
  <div class="order-summary-header">
      <b>Order Summary</b>
  </div>
  <div class="order-summary-content">
      <!-- Content will be added here -->
  </div>
</div>





<app-footer> </app-footer>