

<div class="layout-wrapper">
  <div class="book-container" *ngFor="let book of books">
    <div class="book-background">
      <img [src]="book.bookLogo" alt="Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">{{ book.bookName }}</h2>
      <p class="author-name">{{ book.authorName }}</p>
      <p class="book-price">{{ book.bookPrice}}</p>
      <div class="buttons-container">
        <button class="btn-add-to-cart" (click)=" addToCart(book.bookId)">Add to Cart</button>
        <button class="btn-add-wishlist">Wishlist</button>
      </div>
    </div>
  </div>
</div>


