<!-- <div class="layout-wrapper">

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/thirteen-reasons-why.jpg" alt="Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">THIRTEEN REASONS WHY?</h2>
      <p class="author-name">Jay Asher</p>
      <p class="book-price">Rs.300</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
  
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Content Creation</h2>
      <p class="author-name">Balaji</p>
      <p class="book-price">Rs.500</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
 
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/thirteen-reasons-why.jpg" alt="Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">THIRTEEN REASONS WHY?</h2>
      <p class="author-name">Jay Asher</p>
      <p class="book-price">Rs.300</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
  
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Content Creation</h2>
      <p class="author-name">Balaji</p>
      <p class="book-price">Rs.500</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
 
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/thirteen-reasons-why.jpg" alt="Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">THIRTEEN REASONS WHY?</h2>
      <p class="author-name">Jay Asher</p>
      <p class="book-price">Rs.300</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
  
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Content Creation</h2>
      <p class="author-name">Balaji</p>
      <p class="book-price">Rs.500</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
 
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/thirteen-reasons-why.jpg" alt="Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">THIRTEEN REASONS WHY?</h2>
      <p class="author-name">Jay Asher</p>
      <p class="book-price">Rs.300</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
  
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Content Creation</h2>
      <p class="author-name">Balaji</p>
      <p class="book-price">Rs.500</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
 
  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>

  <div class="book-container">
    <div class="book-background">
      <img src="../../../assets/bookimages/Image 18.png" alt="Yet Another Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">Ui//Ux</h2>
      <p class="author-name">Lukesh</p>
      <p class="book-price">Rs.750</p>
      <div class="buttons-container">
        <button class="btn-add-wishlist">Add to Cart</button>
        <button class="btn-add-to-cart">Wishlist</button>
      </div>
    </div>
  </div>
</div> -->



<div class="layout-wrapper">
  <div class="book-container" *ngFor="let book of books">
    <div class="book-background">
      <img [src]="book.bookLogo" alt="Book Image" class="book-image">
    </div>
    <div class="book-info">
      <h2 class="book-title">{{ book.bookName }}</h2>
      <p class="author-name">{{ book.authorName }}</p>
      <p class="book-price">{{ book.bookPrice}}</p>
      <div class="buttons-container">
        <button class="btn-add-to-cart" (click)=" addToCart(book.bookId)">Add to Cart</button>
        <button class="btn-add-wishlist">Wishlist</button>
      </div>
    </div>
  </div>
</div>


