<div class="order-body">

    <app-header></app-header>

    <div class="order-container">
        <div class="order-bg-align-container">
            <!-- <div class=" order-placed-bg"> -->
                <img src="../../../assets/logo/Group 4132/Group 4132.png" width="170px" height="225px" >
            <!-- </div> -->
            <div class="text-overlay">
                <h1 class="order-text ">Order Placed Successfully</h1>
            </div>
        </div>
        <div class="order-confirmed-align">
            <h3 class="confirmed-text">hurry!!! your order is confirmed <br>
                the order is id <span>#23456</span> save the order id for <br>
                further communication
            </h3>
        </div>
    
        <div class="order-table">
            <table class="table">
                <thead>
                    <tr class="bg-head">
                        <th>Email us</th>
                        <th>Contact us</th>
                        <th>Address</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-body">
                        <td>adminbookstore.com</td>
                        <td>+91 9876543210</td>
                        <td>Chennai</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="order-confirmed-align">
            <a routerLink="/home">
        <button class="continue-shopping-button">CONTINUE SHOPPING</button>
        </a>
        </div>
    
       
    </div>
    
    
<app-footer></app-footer>
   
</div>